{{#if this.IS_DEVELOPMENT}}
  <div class="page-container">
    <div class="container">
      <div class="heading">
        <div class="hgroup">
          <h1>Doctor Who</h1>
          <h2>Thirteen</h2>
        </div>

        <div class="scores-container">
          <div class="score-container">0</div>
          <div class="best-container">0</div>
        </div>
      </div>

      <div class="game-container">
        <div class="game-message">
          <p></p>
          <div class="lower">
            <a href="#" class="retry-button">Try again</a>
          </div>
        </div>

        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
        </div>

        <div class="tile-container"></div>
      </div>

      <div class="game-explanation">
        <h3>Can you join the Doctors to get to the Thirteenth?</h3>
        <p>
          <em>HOW TO PLAY:</em> <br />
          Use your arrow keys or swipe to move the tiles. When two tiles with
          the same Doctor touch, they merge into one and regenerate into the
          next Doctor!
        </p>
      </div>
    </div>
  </div>
{{/if}}
