<p class='ai-stats'>
  In the last 30 games,<br>
  <dl>
    <dt>Average Score</dt> <dd>{{round this.data.averageScore}}</dd>
    <dt>Best Score</dt> <dd>{{this.data.bestScore}}</dd>
    <dt>Average Game Length</dt> <dd>{{round this.data.averageTime}} minutes</dd>
    <dt>Current Top Doctor</dt> <dd>{{this.topDoctor}}</dd>
  </dl>
</p>